.root {
	-fx-background-color: #DEEDFF;
}

#gametitle {
	-fx-fill: white;
	-fx-font: 100px Impact;
}

#toppanel {
	-fx-background-color: #0080ff;
}

#bottompanel {
	-fx-background-color: #0080ff;
}

#sidepanel {
	-fx-background-color: #0080ff;
	-fx-font: 20px Tahoma;
}

#rightpanel {
	-fx-background-color: #0080ff;
	-fx-font: 20px Tahoma;
}

#centerpane {
	-fx-background-color: #DEEDFF;
}
#righttitle {
	-fx-font: 35px Impact;
	-fx-fill: white;
}
#lefttitle{
	-fx-font: 35px Impact;
	-fx-fill: white;
}
#sampletext {
-fx-font: 20px Verdana;
-fx-font-style: italic;
-fx-fill: white;
}


.button {
	-fx-background-color: #c3c4c4, linear-gradient(#d6d6d6 50%, white 100%),
		radial-gradient(center 50% -40%, radius 200%, #e6e6e6 45%, rgba(230, 230
		, 230, 0) 50%);
	-fx-background-radius: 30;
	-fx-background-insets: 0, 1, 1;
	-fx-text-fill: black;
	-fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.6), 3, 0.0, 0, 1);
	-fx-font: 20px Tahoma;
}